<div class="container">
  <h1 class="bills-title">Latest Bills Introduced in the United States Senate</h1>
  <br>
  <div class="latest-bills">
    <% @bills.each do |bill| %>
    <div class="unique-bill">
      <div>
        <h3 class="bill-info"><span class="bill-title">Title:</span>&nbsp;&nbsp;<%= bill[:title] %></h3>
      </div> 
      <div>
        <p class="bill-info"><span class="bill-title">Bill Number:</span>&nbsp;&nbsp;<%= bill[:number] %></p>
      </div>
      <div>
        <p class="bill-info"><span class="bill-title">Introduced on:</span>&nbsp;&nbsp;<%= bill[:introduced_date] %> </p>
      </div>
      <div>
        <p class="bill-info"><span class="bill-title">Committees:</span>&nbsp;&nbsp;<%= bill[:committees] %> </p>
      </div>
      <div>
        <p class="bill-info"><span class="bill-title">Latest Action Date:</span>&nbsp;&nbsp;<%= bill[:latest_major_action_date] %></p>
      </div>
      <div>
        <p class="bill-info"><span class="bill-title">Latest Major Action:</span>&nbsp;&nbsp;<%= bill[:latest_major_action] %></p>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>