<div class="container">
  <h1 class="bills-title">Latest Bills Introduced in the United States Senate</h1>
  <br>
  <div class="latest-bills">
    <% @bills.each do |bill| %>
    <div class="unique-bill">
      <div>
        <h3 class="bill-info">Title:&nbsp;&nbsp;<%= bill[:title] %></h3>
      </div> 
      <div>
        <p class="bill-info">Bill Number:&nbsp;&nbsp;<%= bill[:number] %></p>
      </div>
      <div>
        <p class="bill-info">Introduced on:&nbsp;&nbsp;<%= bill[:introduced_date] %> </p>
      </div>
      <div>
        <p class="bill-info">Committees:&nbsp;&nbsp;<%= bill[:committees] %> </p>
      </div>
      <div>
        <p class="bill-info">Latest Action Date:&nbsp;&nbsp;<%= bill[:latest_major_action_date] %></p>
      </div>
      <div>
        <p class="bill-info">Latest Major Action:&nbsp;&nbsp;<%= bill[:latest_major_action] %></p>
      </div>
      <br>
    </div>
    <% end %>
  </div>
</div>